.video-block {
}

.video-container {
    // width: 700px;
    // height: 450px;
    display:inline-block;
    width:45%;
    text-align:center;
}

.main-video {
    margin-top: 30px;
    text-align:center;
}